
venv_flask/
*.pyc
app.db
app/static/data/
logs/
app.db_save*
*runs*
*plots*
/db_csv
/precomputed_features
/results_metric
/features/consonance_statistics
/features/consonance_statistics_no_empty_chords
/features/chords_and_times
.Rhistory
/validate_rhythm_features_plots/
/validate_rhythm_features_plots_update/