
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Before going any further, we need your consent</h1>

    <p>
    Please complete this form after you have read the Information Sheet and/or listened to an explanation about the research.
    </p>
    <p>
    <b>Title of Study:</b> Listening Tests on the Quality of Automatic Music Transcription<br>
    <b>Queen Mary Ethics of Research Committee Ref:</b> 2066<br>
    </p>

    <p>
    Thank you for considering taking part in this research.
    Make sure you have read carefully the
    <a href="{{url_for('information_sheet')}}"> Information Sheet </a> before you agree to take part.
    If you have any questions arising from the Information Sheet or explanation
    already given to you, please ask the researcher (Adrien Ycart, a[dot]ycart[at]qmul[dot]ac[dot]uk) before you decide whether
    to join in. If you are willing to participate in this study, please
    tick the appropriate responses underneath.
    </p>
    <p>
      You can find this information at any time in your Profile section.
    </p>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>


          {% for error in form.consent.errors %}
          <div class="alert alert-danger" role="alert">
              {{ error }}
          </div>
          {% endfor %}

          <table class='table'>
          {% for entry,consent_point in form.consent.entries|zip(consent_points) %}
            <tr>
              <td>{{entry}}</td> <td>{{consent_point}}</td>
            </tr>
          {% endfor %}
          </table>

            <br>


        </p>

        {%if not CLOSE_WEBSITE %}
          {%if current_user.is_anonymous%}
          <p> You need to be logged in to accept this form! </p>
          <a class="btn btn-primary" role="button"  href="{{url_for('login')}}"> Log In </a>
          <a class="btn btn-primary" role="button"  href="{{url_for('register')}}"> Register </a>
          {% else %}
          <p>{{ wtf.form_field(form.submit, button_map={'submit':'primary'}) }}</p>
          {% endif %}
        {% endif %}
    </form>
{% endblock %}
