{% extends "base.html" %}

{% block content %}

    {% if not current_user.is_anonymous %}
    <h1> Welcome back {{current_user.username}} ! </h1>
    {% else %}
    <h1>Welcome !</h1>
    {%endif%}

    <p> Welcome message </p>

    {% if not current_user.is_anonymous %}
    <a href="{{ url_for('instructions') }}" > Start!</a>
    {%endif%}

    {% if current_user.is_anonymous %}
    <a href="{{ url_for('register') }}" > New participant </a>
    <a href="{{ url_for('login') }}">Returning participant</a>
    {% else %}
    <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}

    <hr>


{% endblock %}
