{% extends "base.html" %}

{% block app_content %}


    <h1>Thank you so much!</h1>


    <p> Thank you very much to everybody who participated in this study!
      We have stopped collecting data for now.
    </p>
    <p>
      If you would still like to participate in this study, please contact Adrien Ycart.
    </p>

    <br>
    <a class="btn btn-secondary" role="button" href="{{ url_for('information_sheet') }}">See information sheet</a>
    <a class="btn btn-secondary" role="button" href="{{ url_for('consent') }}">See consent form</a>
    <br>







{% endblock %}
