{% extends "base.html" %}

{% block app_content %}

  {%if not current_user.ethics_approved %}
    <h1> {{current_user.username}}, you did not give us your consent! </h1>
    <p> Please do so by clicking on the link below</p>
    <br>
    <a class="btn btn-primary" role="button" href="{{ url_for('consent') }}" > Consent form </a>
  {% else %}

    {% if not current_user.gold_msi_completed %}
    <h1> {{current_user.username}}, you did not tell us about your musical background ! </h1>

    <p> Please do so by clicking on the link below</p>
    <br>

    <a class="btn btn-primary" role="button" href="{{ url_for('music_background') }}" > Music Background Questionaire</a>

    {% else %}



    <h1> Get ready {{current_user.username}} ! </h1>

    <h2> Instructions </h2>
    <ul>
    <li> Make sure you are in a <b>quiet environment</b>, and you are using good headphones.
    <li> Make sure the <b>sound volume</b> of your computer is adequate
    <li> You will be presented with 3 audio examples. <b>Please listen to all three examples</b> before making your decision.
    <li> Please try to listen to each example <b>only once</b>. We are interested in your overall judgement, not in analytical answers.
    <li> Some questions might be more challenging than others, it is OK to listen to the examples several times in this case.
    <li> If you recognise the reference piece, please tick the box <b>"I know this piece"</b>.
    <li> <b>You can stop at any time</b>, any submitted answers will still be recorded.
    <li> We would love to have your feedback! <b>Give us any comments in your profile</b> (link in header).
    </ul>

    <a href="{{ url_for('information_sheet') }}" > Want to read the information sheet again?</a><br>
    <br>
    <a class="btn btn-primary" role="button" href="{{ url_for('question') }}" > Start!</a>

    {% endif %}
  {% endif %}

{% endblock %}
