
{% extends "base.html" %}

{% block app_content %}

{%if not current_user.ethics_approved %}
  <h1> {{current_user.username}}, you did not give us your consent! </h1>
  <p> Please do so by clicking on the link below</p>
  <br>
  <a href="{{ url_for('information_sheet') }}" > Information sheet and consent form </a>
{% else %}

    {% if not current_user.gold_msi_completed %}
    <h1> {{current_user.username}}, you did not tell us about your musical background ! </h1>

    <p> Please do so by clicking on the link below</p>
    <br>

    <a href="{{ url_for('music_background') }}" > Music Background Questionaire</a>

    {% else %}

    <h1>Question {{number}}</h1>

    <form action="" method="post" novalidate>
    <h3>Reference:</h3>
    <audio src="{{url_for('static',filename=filepaths[0])}}" controls></audio>

    {{ form.known() }} {{ form.known.label }}

    <hr>

    <h4> Which transcription sounds most similar to the reference? </h4>

        {{ form.hidden_tag() }}
        <p>
          <table>
          <tr>
            <td>  <audio src="{{url_for('static',filename=filepaths[1])}}" controls></audio> </td>
            <td>  <audio src="{{url_for('static',filename=filepaths[2])}}" controls></audio> </td>
          </tr>
          <tr>
          {% for subfield in form.choice %}
            <td>{{subfield}}</td>
          {% endfor %}
          </tr>
          </table>

          {% for error in form.choice.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>

    </form>

    {% endif %}
  {% endif %}
{% endblock %}
