{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>New participant</h1>

    <p> Please choose a user name. Choose a memorable name, it will be required
      if you wish to log back into the system.
    </p>

    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

    <hr>
    <p>Returning participant? <a class="btn btn-outline-secondary" role="button"  href="{{ url_for('login') }}">Click to log in!</a></p>
{% endblock %}
