{% extends "base.html" %}

{% block content %}
    <h1>New participant</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}<br>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>

        <p>Returning participant? <a href="{{ url_for('login') }}">Click to log in!</a></p>
    </form>
{% endblock %}
