<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}

    <h1>User: {{ user.username }}</h1>

    {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}

    Questions answered: Total {{user.number_answers()}}
    <ul>
      {% for question in user.answered_questions() %}
      <li> {{question}}
      {% endfor %}
    </ul>


    <hr>



    {% if user == current_user %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            Change username:<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
    <br>

    <a href="{{ url_for('music_background') }}">Change music background answers</a>

    {% endif %}


{% endblock %}
