<!DOCTYPE html>

{% extends "base.html" %}

{% block app_content %}

    <h1>User: {{ user.username }}</h1>

    {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}

    Questions answered: {{user.number_answers()}}
    <ul>
      {% for question,answer in user.answered_questions_with_answers() %}
      <li> {{question, answer}}
      {% endfor %}
    </ul>

    <hr>



    {% if user == current_user %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            Change username:<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {% for error in form.comments.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{form.comments.label}}<br>
            What strategy (if any) did you use to make your decision?<br>
            What was important to you when making your decision? <br>
            Any comments? <br>
            {{form.comments(cols=100,rows=10)}}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
    <br>

    <a class="btn btn-primary" role="button" href="{{ url_for('music_background') }}">Change music background answers</a>
    <a class="btn btn-primary" role="button" href="{{ url_for('information_sheet') }}">See information sheet</a>
    <a class="btn btn-primary" role="button" href="{{ url_for('consent') }}">See consent form</a>

    {% endif %}

    <hr>



{% endblock %}
